{{> datatable}}

<template id="playerSettingsContextMenuTemplate">
	{{#player_settings_contextmenu}}
	<ul class="context-menu">
		<li class="assign-playlist">
			{{{LANG_ASSIGN_PLAYLIST}}}
		</li>
		<li class="unassign-playlist">
			{{{LANG_UNASSIGN_PLAYLIST}}}
		</li>
		<li class="push-playlist">
			{{{LANG_PUSH_PLAYLIST}}}
		</li>
		<li class="goto-playlist">
			{{{LANG_GOTO_PLAYLIST}}}
		</li>
		<li class="delete" data-confirm="{{{LANG_PLAYER_DELETE_CONFIRM}}}">
			{{{LANG_PLAYER_DELETE}}}
		</li>
	</ul>
	{{/player_settings_contextmenu}}
</template>

{{#player_addtional_translations}}
<script>
    let lang = {
		"assign_playlist": "{{{LANG_ASSIGN_PLAYLIST}}}",
	    "unassign_playlist": "{{{LANG_UNASSIGN_PLAYLIST}}}",
	    "goto_playlist": "{{{LANG_GOTO_PLAYLIST}}}",
	    "push_playlist": "{{{LANG_PUSH_PLAYLIST}}}"
	};
</script>
{{/player_addtional_translations}}