.results-listing li
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.results-listing .last_access {width:15%;}
.results-listing .player_name {width:35%;}
.results-listing .UID {width:15%;}
.results-listing .status {width:5%;}
.results-listing .model {width:10%;}
.results-listing .playlist_id {width:35%;}
.results-listing .actions {min-width:1rem;}

.player-active{background: url("/images/bullets/green.png") no-repeat 0 center;padding-left:20px;}
.player-pending{background: url("/images/bullets/yellow.png") no-repeat 0 center;padding-left:20px;}
.player-inactive{background: url("/images/bullets/red.png") no-repeat 0 center;padding-left:20px;}
.context-menu .delete{border-top: 1px solid #e0e0e0;margin-top: 4px;padding-top: 8px;color: #d32f2f;}