		<template id="templatesSelectorTemplate">
			<label>
				<input id="templatesFilter" type="search" placeholder="Filter">
			</label>
			<section id="templatesList" class="templates-grid-view">
			</section>
		</template>
		<template id="itemTemplate">
			<article class="template-select-item">
				<img class="template-thumbnail" src="" alt="">
				<span class="template-select-name"></span>
			</article>
		</template>


